* {
    margin: 0%;
    padding: 0%;
    --dark-blue: #131626;
    --light-pink: #F2C7AE;
    --font-main: "Comic Neue", cursive;
}

body {
    background-image: url(/images/background-hearts0.jpg);
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-main);
    color: var(--dark-blue);

}

#rulesDiv {
    width: 700px;
    height: fit-content;
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rulesDiv > h1 {
    font-size: 30px;
    text-transform: uppercase;
} 

#rulesDiv > p {
    font-size: 17px;
    margin-top: 20px;
}

#rulesDiv > h3 {
    margin-top: 40px;
}

.btn {
    padding-block: 10px;
    padding-inline: 20px;
    border-radius: 10px;
    border: 0.5px solid var(--dark-blue);
    font-family: "Comic Neue", cursive;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background-color: var(--light-pink);
}

a {
    text-decoration: none;
    color: var(--dark-blue);
}